:root {
    --main-bg-color: #262422;
    --main-accent-color: #3b393a;
}

body {
    overflow: hidden;
    color: #dae0e5;
    background-color: var(--main-bg-color);
}

#root {
    background-color: #262422;
}

.navbar-brand {
    color: #dae0e5!important
}

.navbar {
    background-color: var(--main-accent-color)!important;
    border-bottom-style: solid;
    border-bottom-color: #28a745;
}
.nav-lnk {
    display: block;
    padding: 0.5rem 1rem;
}

span.nav-lnk:hover {
    cursor: pointer!important
}

.card {
    background-color: var(--main-accent-color)!important;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: var(--main-accent-color);
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .container .text-muted {
    color: #6c757d!important;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
